html, body, #root, .container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f5f9fc;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  background-color: #ffffff;
  z-index: 100;
}

.navbar-vertical {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
}

.sidebar {
  padding: 20px;
}

.navbar-nav .nav-item a {
  width: 100%;
}

.account {
  float: bottom;
}

.container-row {
  height: 100%;
  width: 100%;
  /* display: grid; */
  width: 100%;
  flex-basis: 100%;
  overflow: hidden;
  /* grid-template-columns: repeat(1, 100%); */
  /* box-sizing: border-box; */
  margin: 16px;
  border-color: #e7eaf0 !important;
}

.card-columns {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
}

.card {
  background: #ffffff;
  border-color: transparent !important;
  cursor: pointer;
  box-shadow: 3px 3px 5px #cacaca, -3px -3px 5px #f6f6f6;
}

.card2:hover {
  transform: translateY(-7px);
}

.content {
  flex: 1;
  padding: 1rem;
}

.bar {
  opacity: 0.2;
  width: 100%;
}

.createTaskButton {
  float: right;
}
